<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>The Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0.</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Key</key>
			<string>some text</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0.0.0</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>application_version</string>
		</dict>
	</array>
</dict>
</plist>
