/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */

@namespace table url("urn:oasis:names:tc:opendocument:xmlns:table:1.0");
@namespace text url("urn:oasis:names:tc:opendocument:xmlns:text:1.0");
@namespace report url("http://openoffice.org/2005/report");

table|table {
    display: table;
}

table|table-columns {
    display: table-column-group;
}

table|table-column {
    display: table-column;
}

table|table-row {
    display: table-row;
}

table|table-cell {
    display: table-cell;
}

table|table-cell[number-columns-spanned],
table|table-cell[number-columns-spanned],
table|table-columns[number-columns-spanned],
table|table-column[number-columns-spanned] {
    -x-liblayout-colspan: attr("table|number-columns-spanned");
}

table|table-cell[number-rows-spanned],
table|table-cell[number-rows-spanned] {
    -x-liblayout-rowspan: attr("table|number-rows-spanned");
}


/**
 * Style definitions for star report.
*/
* {
    vertical-align: baseline;
}

/**
 * A standard number format declaration. The number of decimal places
 * and whether there is grouping is defined by the format string.
 *
 * The position and content of embedded text is also derived directly from
 * the given format string text.

 number
 scientific
 text
 boolean
 date
 currency
 percentage
 fraction

*/
@format number myname {
    -x-liblayout-decimal-replacement: "-";
    -x-liblayout-display-factor: 1000;
    content: "'Prefix'#,##0.00'postfix'";
}

@format scientific anothername {
    /* to be filled */
}



