/*************************************************************************
*
 *  OpenOffice.org - a multi-platform office productivity suite
 *
 *  $RCSfile: module_langpack_base.sct,v $
 *
 *  $Revision: 1.2 $
 *
 *  last change: $Author: vg $ $Date: 2008-03-18 13:38:37 $
 *
 *  The Contents of this file are made available subject to
 *  the terms of GNU Lesser General Public License Version 2.1.
 *
 *
 *    GNU Lesser General Public License Version 2.1
 *    =============================================
 *    Copyright 2005 by Sun Microsystems, Inc.
 *    901 San Antonio Road, Palo Alto, CA 94303, USA
 *
 *    This library is free software; you can redistribute it and/or
 *    modify it under the terms of the GNU Lesser General Public
 *    License version 2.1, as published by the Free Software Foundation.
 *
 *    This library is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *    Lesser General Public License for more details.
 *
 *    You should have received a copy of the GNU Lesser General Public
 *    License along with this library; if not, write to the Free Software
 *    Foundation, Inc., 59 Temple Place, Suite 330, Boston,
 *    MA  02111-1307  USA
 *
************************************************************************/

Module gid_Module_Langpack_Base_<LANGUAGE_>
    ParentID = gid_Module_Langpack_Root_<LANGUAGE_>;
    Sortkey = "800";
    Language = "<LANGUAGE>";
    Assigns = gid_Module_Langpack_Base_Template;
    Name = "gid_Module_Langpack_Base_<LANGUAGE_>";
    Description = "gid_Module_Langpack_Base_<LANGUAGE_>";
    PackageInfo = "packinfo_office_lang.txt";
    Styles =(HIDDEN_ROOT, LANGUAGEMODULE);
End
