# We only directly edit toolbar.js in dist/
**/js/Autolinker.js
**/js/sanitize-url.js
**/js/l10n.js
**/src/unocommands.js
**/src/app/TaskWorker.js
**/src/app/TaskWorker.js.m4
# Prettier breaks the assumption made by unocommands.py.
**/src/control/jsdialog/Definitions.MenuCommands.ts
**/._*
node_modules
dist/src
