<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
-->
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>MDImporter</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.openoffice.text</string>
                <string>org.oasis-open.opendocument.text</string>
                <string>org.openoffice.spreadsheet</string>
                <string>org.oasis-open.opendocument.spreadsheet</string>
                <string>org.openoffice.presentation</string>
                <string>org.oasis-open.opendocument.presentation</string>
                <string>org.openoffice.graphics</string>
                <string>org.oasis-open.opendocument.graphics</string>
                <string>org.openoffice.text-master</string>
                <string>org.oasis-open.opendocument.text-master</string>
                <string>org.openoffice.formula</string>
                <string>org.oasis-open.opendocument.formula</string>
                <string>org.openoffice.text-template</string>
                <string>org.oasis-open.opendocument.text-template</string>
                <string>org.openoffice.spreadsheet-template</string>
                <string>org.oasis-open.opendocument.spreadsheet-template</string>
                <string>org.openoffice.presentation-template</string>
                <string>org.oasis-open.opendocument.presentation-template</string>
                <string>org.openoffice.graphics-template</string>
                <string>org.oasis-open.opendocument.graphics-template</string>
                <string>org.oasis-open.opendocument.database</string>
            </array>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>OOoSpotlightImporter</string>
    <key>CFBundleName</key>
    <string>OOoSpotlightImporter</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.collaboraoffice.mdimporter</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFPlugInDynamicRegisterFunction</key>
    <string></string>
    <key>CFPlugInDynamicRegistration</key>
    <string>NO</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>A3FCC88D-B9A6-4364-8B93-92123C8A2D18</key>
        <string>MetadataImporterPluginFactory</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
        <array>
            <string>A3FCC88D-B9A6-4364-8B93-92123C8A2D18</string>
        </array>
    </dict>
    <key>CFPlugInUnloadFunction</key>
    <string></string>

</dict>
</plist>
