[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=base
Type=Application
Categories=Application;Office;
Exec=openoffice -base %U
TryExec=openoffice
MimeType=application/vnd.oasis.opendocument.database
Name=%PRODUCTNAME Base
Comment=Manage databases, create queries and reports to track and manage your information by using Base.
