[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=calc
Type=Application
Categories=Application;Office;
Exec=openoffice -calc %U
TryExec=openoffice-calc
MimeType=application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/msexcel;application/vnd.ms-excel
Name=%PRODUCTNAME Calc
Comment=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
