[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=${UNIXBASISROOTNAME} --writer %U
MimeType=application/x-aportisdoc;application/x-pocket-word;application/x-pocket-excel;
Name=%PRODUCTNAME Small Device Format Importer
Name[pt_BR]=%PRODUCTNAME_BR Small Device Format Importer
GenericName=Small Device Format Importer
NoDisplay=true
