[Desktop Entry]
Version=1.0
Terminal=false
Icon=printeradmin
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=openoffice-printeradmin
Name=%PRODUCTNAME Printer Administration
