[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=printeradmin.png
Type=Application
Categories=Application;Office;
Exec=openoffice-printeradmin
TryExec=openoffice-printeradmin
Name=%PRODUCTNAME Printer Administration
