[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Office;
Exec=openoffice -quickstart -nologo -nodefault
NoDisplay=true
Name=%PRODUCTNAME Quickstarter
Comment=Hook for quickstarter startup
