[Desktop Entry]
Version=1.0
Terminal=false
Icon=startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=${UNIXBASISROOTNAME} %U
MimeType=application/vnd.openofficeorg.extension;
Name=%PRODUCTNAME 
Name[pt_BR]=%PRODUCTNAME_BR
GenericName=Office 
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
