[Desktop Entry]
Version=1.0
Terminal=false
Icon=startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=openoffice %U
MimeType=application/vnd.openofficeorg.extension;
Name=%PRODUCTNAME 
GenericName=Office 
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by Sun Microsystems.
