[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=${UNIXBASISROOTNAME} %U
MimeType=application/vnd.oasis.opendocument.text-flat-xml;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.presentation-flat-xml;
Name=%PRODUCTNAME XSLT based filters
GenericName=XSLT based filters
NoDisplay=true
StartupNotify=true
X-GIO-NoFuse=true
