/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */

#include <windows.h>
#include "version.hrc"


//                 version information


VS_VERSION_INFO VERSIONINFO
    FILEVERSION    VERSION, SUBVERSION, MICROVERSION
    PRODUCTVERSION VERSION, SUBVERSION, MICROVERSION
    FILEFLAGSMASK 0x3F
    FILEFLAGS
#if defined(DEBUG)
    VS_FF_DEBUG |
#endif
#ifdef VER_PREL
    VS_FF_PRERELEASE |
#endif
    0
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_APP
    {
        BLOCK "StringFileInfo"
        {
            BLOCK "040904E4"
            {
                // International StringTable
                VALUE "CompanyName",      PPS(RES_APP_VENDOR) "\0"
                VALUE "FileDescription",  PPS(RES_APP_FILEDESC) "\0"
                VALUE "FileVersion",      PPS(VER_LEVEL) "\0"
                VALUE "ProductVersion",   PPS(VER_LEVEL) "\0"
                VALUE "ProductName",      "LibreOffice\0"
                VALUE "OriginalFilename", PPS(RES_APP_NAME) ".exe\0"
                VALUE "InternalName",     PPS(RES_APP_NAME) "\0"
                VALUE "LegalCopyright",   S_CRIGHT " LibreOffice contributors. All rights reserved.\0"
            }
        }

        BLOCK "VarFileInfo"
        {
            VALUE "Translation", 0x0409, 1252
        }
    }

1 ICON PPS(RES_APP_ICON)
2 ICON "icons/oasis-text.ico"
3 ICON "icons/oasis-text-template.ico"
4 ICON "icons/oasis-spreadsheet.ico"
5 ICON "icons/oasis-spreadsheet-template.ico"
6 ICON "icons/oasis-drawing.ico"
7 ICON "icons/oasis-drawing-template.ico"
8 ICON "icons/oasis-presentation.ico"
9 ICON "icons/oasis-presentation-template.ico"
10 ICON "icons/oasis-master-document.ico"
11 ICON "icons/oasis-web-template.ico"
12 ICON "icons/oasis-database.ico"
13 ICON "icons/oasis-formula.ico"
14 ICON "icons/oxt-extension.ico"
