/**************************************************************
 * 
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 * 
 *************************************************************/



ICON 2 "icons/ooo-writer-doc.ico"
ICON 3 "icons/ooo-writer-tem.ico"
ICON 4 "icons/ooo-calc-doc.ico"
ICON 5  "icons/ooo-calc-tem.ico"
ICON 6 "icons/ooo-draw-doc.ico"
ICON 7 "icons/ooo-draw-tem.ico"
ICON 8 "icons/ooo-impress-doc.ico"
ICON 9 "icons/ooo-impress-tem.ico"
ICON 10 "icons/ooo-impress-doc.ico"
//ICON 11 "icons/ooo-global-doc.ico"
//ICON 12 "icons/ooo-html-doc.ico"
ICON 13 "icons/ooo-chart-doc.ico"
ICON 14 "icons/ooo-base-doc.ico"
ICON 15 "icons/ooo-math-doc.ico"
ICON 16 "icons/ooo-empty-tem.ico"
ICON 17 "icons/ooo-macro-doc.ico"
ICON 18 "icons/ooo-configuration.ico"
ICON 19 "icons/ooo-open.ico"
ICON 20 "icons/ooo-image-doc.ico"
ICON 21 "icons/ooo-writer-app.ico"
ICON 22 "icons/ooo-calc-app.ico"
ICON 23 "icons/ooo-draw-app.ico"
ICON 24 "icons/ooo-impress-app.ico"
ICON 25 "icons/ooo-math-app.ico"
ICON 26 "icons/ooo-base-app.ico"
ICON 27 "icons/ooo-empty-doc.ico"
ICON 28 "icons/ooo11-writer-doc.ico"
ICON 29 "icons/ooo11-writer-tem.ico"
ICON 30 "icons/ooo11-calc-doc.ico"
ICON 31 "icons/ooo11-calc-tem.ico"
ICON 32 "icons/ooo11-draw-doc.ico"
ICON 33 "icons/ooo11-draw-tem.ico"
ICON 34 "icons/ooo11-impress-doc.ico"
ICON 35 "icons/ooo11-impress-tem.ico"
ICON 36 "icons/ooo11-master-doc.ico"
ICON 37 "icons/ooo11-chart-doc.ico"
ICON 38 "icons/ooo11-base-doc.ico"
ICON 39 "icons/ooo11-math-doc.ico"

