/*************************************************************************
 *
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 * 
 * Copyright 2008 by Sun Microsystems, Inc.
 *
 * OpenOffice.org - a multi-platform office productivity suite
 *
 * $RCSfile: verinfo.rc,v $
 * $Revision: 1.18 $
 *
 * This file is part of OpenOffice.org.
 *
 * OpenOffice.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License version 3
 * only, as published by the Free Software Foundation.
 *
 * OpenOffice.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License version 3 for more details
 * (a copy is included in the LICENSE file that accompanied this code).
 *
 * You should have received a copy of the GNU Lesser General Public License
 * version 3 along with OpenOffice.org.  If not, see
 * <http://www.openoffice.org/license.html>
 * for a copy of the LGPLv3 License.
 *
 *************************************************************************/

#define VERSION			8
//#define SUBVERSION		0
//#define VERVARIANT		0
// .0 + VER_CONCEPT
// .100 + VER_ALPHA
// .200 + VER_BETA
// .300 + VER_GAMMA
// .500 + VER_FINAL
//#define VER_CONCEPT		0
//#define VER_BETA		6
#define VER_FINAL		0

#define VER_DAY			1
#define VER_MONTH		9
#define VER_YEAR		2007

// -----------------------------------------------------------------------

#if !defined(ENGLISH)
#define LG_D 					// generate always german version
#endif

#define VER_FIRSTYEAR	VER_YEAR

#include <windows.h>
#include "verinfo.hrc"

#ifdef WIN32
#define FOR_WIN_X " (32 Bit)"
#else
#define FOR_WIN_X ""
#endif

// -----------------------------------------------------------------------
// 				language/character set specification table
// -----------------------------------------------------------------------

RCD_LANGUAGE rcdata
{
#ifdef LG_D
	"040704B0", 	// Germany -> Unicode
	"040704E4", 	// Germany -> Windows, Multilingual
#else
	"040904B0", 	// Germany -> Unicode
	"040904E4", 	// USA -> Windows, Multilingual
#endif
	"04090000", 	// USA -> 7-Bit-ASCII
	0				// end of table
}

// -----------------------------------------------------------------------
// 				version information
// -----------------------------------------------------------------------

VS_VERSION_INFO versioninfo
#ifndef SUBVERSION
	fileversion    VERSION, 0, 0, VERVARIANT
	productversion VERSION, 0, 0, VERVARIANT
#else
	fileversion    VERSION, VERVARIANT, VER_COUNT
	productversion VERSION, VERVARIANT, VER_COUNT
#endif
	fileflagsmask 0x3F
	fileflags
#if defined(DEBUG)
	VS_FF_DEBUG |
#endif
#ifdef VER_PREL
	VS_FF_PRERELEASE |
#endif
	0
#ifndef WIN32
	fileos VOS_DOS_WINDOWS16
#else
	fileos VOS_NT_WINDOWS32
#endif
	filetype VFT_APP
	{
		block "StringFileInfo"
		{
#ifdef LG_D
			block "040704E4"
			{
				// German StringTable
				value "CompanyName",		"Sun Microsystems, Inc.\0"
				value "FileDescription", "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\0"
				value "FileVersion",		PPS(VER_LEVEL) "\0"
				value "ProductVersion",		PPS(VER_LEVEL) "\0"
				value "OriginalFilename",	"SOFFICE.EXE\0"
				value "InternalName",		"SOFFICE\0"
				value "LegalCopyright",		S_CRIGHT " Sun Microsystems, Inc.\0"
			}
#else
			block "040904E4"
			{
				// International StringTable
				value "CompanyName", 		"Sun Microsystems, Inc.\0"
				value "FileDescription",	"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\0"
				value "FileVersion",		PPS(VER_LEVEL) "\0"
				value "ProductVersion",		PPS(VER_LEVEL) "\0"
				value "OriginalFilename",	"SOFFICE.EXE\0"
				value "InternalName", 		"SOFFICE\0"
				value "LegalCopyright", 	S_CRIGHT " Sun Microsystems, Inc.\0"
			}
#endif
		}

		block "VarFileInfo"
		{
#ifdef LG_D
			value "Translation", 0x0407, 1252
#else
			value "Translation", 0x0409, 1252
#endif
		}
	}

// version binary entry
VS_VERSION_INFO rcdata
{
	0xF0, "sw", 0x0F, VER_YEAR, VER_MONTH, VER_DAY,
	VERSION, VERVARIANT, VER_COUNT
};


2 ICON "icons\\so8-writer-doc.ico"
3 ICON "icons\\so8-writer-tem.ico"
4 ICON "icons\\so8-calc-doc.ico"
5 ICON "icons\\so8-calc-tem.ico"
6 ICON "icons\\so8-draw-doc.ico"
7 ICON "icons\\so8-draw-tem.ico"
8 ICON "icons\\so8-impress-doc.ico"
9 ICON "icons\\so8-impress-tem.ico"
10 ICON "icons\\so8-impress-doc.ico"
11 ICON "icons\\so8-master-doc.ico"
12 ICON "icons\\so8-web-doc.ico"
13 ICON "icons\\so8-chart-doc.ico"
14 ICON "icons\\so8-base-doc.ico"
15 ICON "icons\\so8-math-doc.ico"
16 ICON "icons\\so8-empty-tem.ico"
17 ICON "icons\\so8-macro-doc.ico"
18 ICON "icons\\so8-configuration.ico"
19 ICON "icons\\so8-open.ico"
20 ICON "icons\\so8-image-doc.ico"
21 ICON "icons\\so8-writer-app.ico"
22 ICON "icons\\so8-calc-app.ico"
23 ICON "icons\\so8-draw-app.ico"
24 ICON "icons\\so8-impress-app.ico"
25 ICON "icons\\so8-math-app.ico"
26 ICON "icons\\so8-base-app.ico"
27 ICON "icons\\so8-empty-doc.ico"
28 ICON "icons\\so7-writer-doc.ico"
29 ICON "icons\\so7-writer-tem.ico"
30 ICON "icons\\so7-calc-doc.ico"
31 ICON "icons\\so7-calc-tem.ico"
32 ICON "icons\\so7-draw-doc.ico"
33 ICON "icons\\so7-draw-tem.ico"
34 ICON "icons\\so7-impress-doc.ico"
35 ICON "icons\\so7-impress-tem.ico"
36 ICON "icons\\so7-master-doc.ico"
37 ICON "icons\\so7-chart-doc.ico"
38 ICON "icons\\so7-base-doc.ico"
39 ICON "icons\\so7-math-doc.ico"
40 ICON "icons\\oxt-extension.ico"
