{
Checks: 'clang-analyzer-alpha.core*,misc*,modernize*,-clang-analyzer-alpha.core.CastToStruct,-misc-macro-parentheses,-clang-analyzer-core.CallAndMessage,-clang-analyzer-core.NullDereference,-clang-analyzer-core.DivideZero,-misc-misplaced-widening-cast,-modernize-use-auto,-modernize-use-default,-modernize-pass-by-value,-modernize-deprecated-headers,-modernize-use-override,-modernize-make-shared,-misc-virtual-near-miss,-modernize-raw-string-literal,-misc-incorrect-roundings,-misc-move-constructor-init,-misc-bool-pointer-implicit-conversion,-clang-analyzer-security.insecureAPI.strcpy,-misc-static-assert,-modernize-make-unique,-misc-static-assert,-misc-assign-operator-signature,-clang-analyzer-security.FloatLoopCounter,-modernize-loop-convert,-clang-analyzer-optin.performance.Padding,-modernize-use-bool-literals,-misc-unused-parameters,-modernize-use-using,-misc-unused-using-decls,-modernize-use-emplace,-clang-analyzer-cplusplus.NewDelete,-clang-analyzer-alpha.core.FixedAddr'
}