[submodule "dictionaries"]
	path = dictionaries
	url = ../dictionaries.git
	branch = libreoffice-lhm-416 
[submodule "helpcontent2"]
	path = helpcontent2
	url = ../help.git
	branch = libreoffice-lhm-416
[submodule "translations"]
	path = translations
	url = ../translations.git
	branch = libreoffice-lhm-416 
