[submodule "dictionaries"]
	path = dictionaries
	url = ../libreoffice-dictionaries.git
	branch = libreoffice-lhm-416 
[submodule "helpcontent2"]
	path = helpcontent2
	url = ../libreoffice-help.git
	branch = libreoffice-lhm-416
[submodule "translations"]
	path = translations
	url = ../libreoffice-translations.git
	branch = libreoffice-lhm-416 
