# backup and temporary files
*~
.*.sw[op]

.gitattributes

# the build directories
/*/unxlng??
/*/unxlng??.pro
/*/wntmsc???
/*/wntmsc???.pro
/*/unxmac??
/*/unxmac??.pro

/external/*/*.dll
/external/*/*.txt
/external/msi/*.exe
/external/msv*/*.manifest
/external/vcredist/vcredist_x64.exe
/external/vcredist/vcredist_x86.exe
