[project]
	description = LibreOffice main, development code repository
	state = active
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access]
	inheritFrom = Dev-ACL-Template
[access "refs/*"]
	read = group ReplicateFDO
[notify "dev"]
	email = libreoffice@lists.freedesktop.org
    type = new_changes
    type = submitted_changes
