[project]
	description = test-copy of libreoffice core repository.\n\
change to that repository will _NOT_ be merged\n\
into the official repo.\n\
This is for test only
	state = active
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/heads/*"]
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
