[project]
	description = LibreOffice main, development code repository
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access]
	inheritFrom = Dev-ACL-Template
[access "refs/*"]
	read = group ReplicateFDO
	read = group ReplicateGithub
	read = group ReplicateGitorious
[access "refs/heads/aoo/*"]
	pushMerge = group SvnGit
	read = group SvnGit
	create = group SvnGit
	forgeAuthor = group SvnGit
	forgeCommitter = group SvnGit
	forgeServerAsCommitter = group SvnGit
	push = +force group SvnGit
	pushTag = +force group SvnGit
	rebase = group SvnGit
	submit = group SvnGit
[access "refs/heads/ports/macosx10.5/*"]
	abandon = group PortMacOSXDeprecated
	create = group PortMacOSXDeprecated
	push = +force group PortMacOSXDeprecated
	pushMerge = group PortMacOSXDeprecated
	label-Code-Review = -2..+2 group PortMacOSXDeprecated
	label-Verified = -1..+1 group PortMacOSXDeprecated
	rebase = group PortMacOSXDeprecated
	submit = group PortMacOSXDeprecated
	editTopicName = group PortMacOSXDeprecated
