/*************************************************************************
 *
 *  $RCSfile: shlinfo.rc,v $
 *
 *  $Revision: 1.2 $
 *
 *  last change: $Author: hjs $ $Date: 2000-10-30 16:25:56 $
 *
 *  The Contents of this file are made available subject to the terms of
 *  either of the following licenses
 *
 *         - GNU Lesser General Public License Version 2.1
 *         - Sun Industry Standards Source License Version 1.1
 *
 *  Sun Microsystems Inc., October, 2000
 *
 *  GNU Lesser General Public License Version 2.1
 *  =============================================
 *  Copyright 2000 by Sun Microsystems, Inc.
 *  901 San Antonio Road, Palo Alto, CA 94303, USA
 *
 *  This library is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License version 2.1, as published by the Free Software Foundation.
 *
 *  This library is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 *
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston,
 *  MA  02111-1307  USA
 *
 *
 *  Sun Industry Standards Source License Version 1.1
 *  =================================================
 *  The contents of this file are subject to the Sun Industry Standards
 *  Source License Version 1.1 (the "License"); You may not use this file
 *  except in compliance with the License. You may obtain a copy of the
 *  License at http://www.openoffice.org/license.html.
 *
 *  Software provided under this License is provided on an "AS IS" basis,
 *  WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING,
 *  WITHOUT LIMITATION, WARRANTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
 *  MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
 *  See the License for the specific provisions governing your rights and
 *  obligations concerning the Software.
 *
 *  The Initial Developer of the Original Code is: Sun Microsystems, Inc.
 *
 *  Copyright: 2000 by Sun Microsystems, Inc.
 *
 *  All Rights Reserved.
 *
 *  Contributor(s): _______________________________________
 *
 *
 ************************************************************************/

#define VERSION			6
#define SUBVERSION		0
//#define VERVARIANT		0

// .0 + VER_CONCEPT
// .100 + VER_ALPHA
// .200 + VER_BETA
// .300 + VER_GAMMA
// .500 + VER_FINAL
//#define VER_CONCEPT		0
//#define VER_BETA		6
#define VER_FINAL		0

#define VER_DAY			12
#define VER_MONTH		1
#define VER_YEAR		2001

// -----------------------------------------------------------------------

#if !defined(ENGLISH)
#define LG_D 					// generate always german version
#endif

#define VER_FIRSTYEAR	VER_YEAR

#include <windows.h>
#include "verinfo.hrc"

#ifdef WIN32
#define FOR_WIN_X " (32 Bit)"
#else
#define FOR_WIN_X ""
#endif

// -----------------------------------------------------------------------
// 				language/character set specification table
// -----------------------------------------------------------------------

RCD_LANGUAGE rcdata
{
#ifdef LG_D
	"040704B0", 	// Germany -> Unicode
	"040704E4", 	// Germany -> Windows, Multilingual
#else
	"040904B0", 	// Germany -> Unicode
	"040904E4", 	// USA -> Windows, Multilingual
#endif
	"04090000", 	// USA -> 7-Bit-ASCII
	0				// end of table
}

// -----------------------------------------------------------------------
// 				version information
// -----------------------------------------------------------------------

VS_VERSION_INFO versioninfo
	fileversion    VERSION, SUBVERSION, VERVARIANT, VER_COUNT
	productversion VERSION, SUBVERSION, VERVARIANT, VER_COUNT
	fileflagsmask 0x3F
	fileflags
#if defined(DEBUG)
	VS_FF_DEBUG |
#endif
#ifdef VER_PREL
	VS_FF_PRERELEASE |
#endif
	0
#ifndef WIN32
	fileos VOS_DOS_WINDOWS16
#else
	fileos VOS_NT_WINDOWS32
#endif
	filetype VFT_APP
	{
		block "StringFileInfo"
		{
#ifdef LG_D
			block "040704E4"
			{
				// German StringTable
				value "CompanyName",		"Sun Microsystems, Inc.\0"
				value "FileVersion",		PPS(VER_LEVEL) "\0"
				value "OriginalFilename",	PPS(ORG_NAME) "\0"
				value "InternalName", 		PPS(INTERNAL_NAME) "\0"
				value "LegalCopyright",		S_CRIGHT " Sun Microsystems, Inc.\0"
			}
#else
			block "040904E4"
			{
				// International StringTable
				value "CompanyName", 		"Sun Microsystems, Inc.\0"
				value "FileVersion",		PPS(VER_LEVEL) "\0"
				value "OriginalFilename",	PPS(ORG_NAME) "\0"
				value "InternalName", 		PPS(INTERNAL_NAME) "\0"
				value "LegalCopyright", 	S_CRIGHT " Sun Microsystems, Inc.\0"
			}
#endif
		}

		block "VarFileInfo"
		{
#ifdef LG_D
			value "Translation", 0x0407, 1252
#else
			value "Translation", 0x0409, 1252
#endif
		}
	}

// version binary entry
VS_VERSION_INFO rcdata
{
	0xF0, "sw", 0x0F, VER_YEAR, VER_MONTH, VER_DAY,
	VERSION, SUBVERSION, VERVARIANT, VER_COUNT
};

/*************************************************************************

	  Source Code Control System - Update

	  $Log: not supported by cvs2svn $
	  Revision 1.1.1.1  2000/09/20 14:43:17  hr
	  initial import
	
	  Revision 1.2  2000/06/29 17:25:44  hjs
	  disable year range
	
	  Revision 1.1  2000/06/29 16:00:23  hjs
	  generic versioninfo for shared libs
	
	  Revision 1.13  2000/05/08 17:52:51  hjs
	  release date
	
	  Revision 1.12  2000/04/28 11:32:03  hjs
	  5.2 beta6
	
	  Revision 1.11  2000/01/17 10:50:29  hro
	  #70553# New icons
	
	  Revision 1.10  2000/01/12 10:56:45  hro
	  #70553# Added system icon to Executable Resource
	
	  Revision 1.9  1999/08/05 11:52:34  pb
	  fix: #68039# StarDiv -> Sun
	
	  Revision 1.8  1999/04/29 19:16:10  HRO
	  #65573# New icon resource

	  Rev 1.7   29 Apr 1999 21:16:10   HRO
   #65573# New icon resource

	  Rev 1.6   28 Apr 1999 13:59:40   OS
   #56844# Icons fuer HTML und Frameset eingebaut

	  Rev 1.5   15 Feb 1999 15:32:12   MH
   chg: Reihenfolge

*************************************************************************/

