/**************************************************************
 * 
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 * 
 *************************************************************/

#define VERSION			1
#define SUBVERSION		0
//#define VERVARIANT	0
// .0 + VER_CONCEPT
// .100 + VER_ALPHA
// .200 + VER_BETA
// .300 + VER_GAMMA
// .500 + VER_FINAL
//#define VER_CONCEPT		0
//#define VER_BETA		6
#define VER_FINAL		0

#define VER_DAY			1
#define VER_MONTH		4
#define VER_YEAR		09


// Header
#if defined(_MSC_VER) && (_MSC_VER < 1500)
#include "winres.h"
#else
#define WINVER 0x0500
#include "winresrc.h"
#endif
#include "verinfo.hrc"

#define VER_FIRSTYEAR	07

#if !defined(ENGLISH)
#define LG_D 					// generate always german version
#endif

// -----------------------------------------------------------------------
// 				language/character set specification table
// -----------------------------------------------------------------------

RCD_LANGUAGE rcdata
{
#ifdef LG_D
	"040704B0", 	// Germany -> Unicode
	"040704E4", 	// Germany -> Windows, Multilingual
#else
	"040904B0", 	// Germany -> Unicode
	"040904E4", 	// USA -> Windows, Multilingual
#endif
	"04090000", 	// USA -> 7-Bit-ASCII
	0				// end of table
}

// -----------------------------------------------------------------------
// 				version information
// -----------------------------------------------------------------------

VS_VERSION_INFO versioninfo
	fileversion    VERSION, SUBVERSION, VERVARIANT, VER_COUNT
	productversion VERSION, SUBVERSION, VERVARIANT, VER_COUNT
	fileflagsmask 0x3F
	fileflags
#if defined(DEBUG)
	VS_FF_DEBUG |
#endif
#ifdef VER_PREL
	VS_FF_PRERELEASE |
#endif
	0
#ifndef WIN32
	fileos VOS_DOS_WINDOWS16
#else
	fileos VOS_NT_WINDOWS32
#endif
	filetype VFT_APP
	{
		block "StringFileInfo"
		{
#ifdef LG_D
			block "040704E4"
			{
				// German StringTable
				value "CompanyName",		"Sun Microsystems, Inc.\0"
				value "FileDescription",    "Service Tags Wrapper\0"
				value "FileVersion",		PPS(VER_LEVEL) "\0"
				value "ProductVersion",		PPS(VER_LEVEL) "\0"
				value "OriginalFilename",	"STCLIENT_WRAPPER.EXE\0"
				value "InternalName",		"stclient_wrapper\0"
				value "LegalCopyright",		S_CRIGHT " Sun Microsystems, Inc.\0"
			}
#else
			block "040904E4"
			{
				// International StringTable
				value "CompanyName", 		"Sun Microsystems, Inc.\0"
				value "FileDescription",    "Service Tags Wrapper\0"
				value "FileVersion",		PPS(VER_LEVEL) "\0"
				value "ProductVersion",		PPS(VER_LEVEL) "\0"
				value "OriginalFilename",	"STCLIENT_WRAPPER.EXE\0"
				value "InternalName", 		"stclient_wrapper\0"
				value "LegalCopyright", 	S_CRIGHT " Sun Microsystems, Inc.\0"
			}
#endif
		}

		block "VarFileInfo"
		{
#ifdef LG_D
			value "Translation", 0x0407, 1252
#else
			value "Translation", 0x0409, 1252
#endif
		}
	}

// version binary entry
VS_VERSION_INFO rcdata
{
	0xF0, "sw", 0x0F, VER_YEAR, VER_MONTH, VER_DAY,
	VERSION, SUBVERSION, VERVARIANT, VER_COUNT
};


/////////////////////////////////////////////////////////////////////////////
//
// Manifest section
//
1 24 stwrapper.manifest

