<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.libreoffice.android.qa"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" />

    <application android:label="@string/app_name"
                 android:debuggable="true">
        <!-- Bootstrap is the subclass of  android.app.NativeActivity -->
        <activity android:name="org.libreoffice.android.Bootstrap"
                  android:label="LO simple cppunittests"
                  android:configChanges="orientation|keyboardHidden">
            <!-- Tell NativeActivity the name of our .so -->
            <meta-data android:name="android.app.lib_name"
                    android:value="lo-bootstrap" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
