.doctitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
.docdescription {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.docauthor {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.doccreationdate {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000066;
}
.doclastchangeddate {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #990000;
}
.docfilename {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000066;
}
.docfileformatinfo {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.docnumberofpages {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
.docsizeinkb {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #999999;
	background-image: url(images/background.gif);
}
.toctitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: #99CCCC;
}
.tcolor {
	background-color: #DDDDDD;
}
.ccolor {
	background-color: #99CCFF;
}
a:link {
	font-family: "Times New Roman", Times, serif;
	color: #003399;
}
a:visited {
	font-family: "Times New Roman", Times, serif;
	color: #0066CC;
}
a:active {
	font-family: "Times New Roman", Times, serif;
	color: #FF9900;
}
