.doctitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.docdescription {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
}
.docauthor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
}
.doccreationdate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF00;
}
.doclastchangeddate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.docfilename {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.docfileformatinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
}
.docnumberofpages {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.docsizeinkb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
body {
	background-color: #999999;
	background-image: url(images/background.gif);
}
.toctitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #660033;
}
.tcolor {
	background-color: #330000;
}
.ccolor {
	background-color: #660033;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFF00;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #00CCFF;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
}
