<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.libreoffice.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application>
        <activity android:name="org.libreoffice.android.Bootstrap" />
    </application>
</manifest>
