/clang/clang-timestamp
/clang/plugin.dll
/clang/plugin.so
/clang/clang.pch
/clang/clang.pch.d
/clang/sharedvisitor/*.plugininfo
/clang/sharedvisitor/analyzer
/clang/sharedvisitor/analyzer.d
/clang/sharedvisitor/analyzer.dwo
/clang/sharedvisitor/analyzer.exe
/clang/sharedvisitor/analyzer.o
/clang/sharedvisitor/clang.pch
/clang/sharedvisitor/clang.pch.d
/clang/sharedvisitor/generator
/clang/sharedvisitor/generator.d
/clang/sharedvisitor/generator.dwo
/clang/sharedvisitor/generator.exe
/clang/sharedvisitor/generator.o
/clang/sharedvisitor/sharedvisitor.cxx
/clang/sharedvisitor/sharedvisitor.d
/clang/sharedvisitor/sharedvisitor.dwo
/clang/sharedvisitor/sharedvisitor.o
/clang/sources-new.txt
/clang/sources-shared-new.txt
/clang/sources-shared.txt
/clang/sources.txt
obj
