@namespace url("urn:oasis:names:tc:opendocument:xmlns:style:1.0");

/**
 * All default styles for style elements. (They should not be visible anyway,
 * but better be complete than be sorry afterwards.)
 */

raw-styles {
  display:none;
}
