[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-presentation
Type=MimeType
Patterns=*.fodp
MimeType=application/vnd.oasis.opendocument.presentation-flat-xml
Comment=OpenDocument Presentation
