.doctitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
.docdescription {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.docauthor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.doccreationdate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
}
.doclastchangeddate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
}
.docfilename {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
}
.docfileformatinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.docnumberofpages {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.docsizeinkb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #660000;
	background-image: url(images/background.gif);
}
.toctitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: #CCCCCC;
}
.tcolor {
	background-color: #FFCC00;
	border-top-width: mittel;
	border-right-width: mittel;
	border-bottom-width: mittel;
	border-left-width: mittel;
	border-top-style: doppelt;
	border-right-style: doppelt;
	border-bottom-style: doppelt;
	border-left-style: doppelt;
	border-top-color: #003399;
	border-right-color: #CC3300;
	border-bottom-color: #003399;
	border-left-color: #666666;
}
.ccolor {
	background-color: #000066;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #0099CC;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #CC0000;
}
