.doctitle {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	color: #00CC00;
	font-weight: bold;
}
.docdescription {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	font-style: italic;
	color: #00CC00;
}
.docauthor {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	font-style: italic;
	color: #00CC00;
}
.doccreationdate {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #99CC00;
}
.doclastchangeddate {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #FF0000;
}
.docfilename {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #00CC00;
}
.docfileformatinfo {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	font-style: italic;
	color: #00CC00;
}
.docnumberofpages {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #00CC00;
}
.docsizeinkb {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #00CC00;
}
body {
	background-color: #000000;
	background-image: url(images/background.gif);
}
.toctitle {
	font-family: "Courier New", Courier, mono;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #00CC00;
	background-color: #222222;
}
.tcolor {
	background-color: #000000;
	border-top-width: mittel;
	border-right-width: mittel;
	border-bottom-width: mittel;
	border-left-width: mittel;
	border-top-style: doppelt;
	border-right-style: doppelt;
	border-bottom-style: doppelt;
	border-left-style: doppelt;
	border-top-color: #333333;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #999999;
}
.ccolor {
	background-color: #222222;
}
a:link {
	font-family: "Courier New", Courier, mono;
	color: #00FF33;
}
a:visited {
	font-family: "Courier New", Courier, mono;
	color: #00CC33;
}
a:active {
	font-family: "Courier New", Courier, mono;
	color: #CC0000;
}
