/*************************************************************************
 *
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 * 
 * Copyright 2008 by Sun Microsystems, Inc.
 *
 * OpenOffice.org - a multi-platform office productivity suite
 *
 * $RCSfile: salsrc.rc,v $
 * $Revision: 1.5 $
 *
 * This file is part of OpenOffice.org.
 *
 * OpenOffice.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License version 3
 * only, as published by the Free Software Foundation.
 *
 * OpenOffice.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License version 3 for more details
 * (a copy is included in the LICENSE file that accompanied this code).
 *
 * You should have received a copy of the GNU Lesser General Public License
 * version 3 along with OpenOffice.org.  If not, see
 * <http://www.openoffice.org/license.html>
 * for a copy of the LGPLv3 License.
 *
 ************************************************************************/

#ifndef _SV_SALIDS_HRC
#include <salids.hrc>
#endif

POINTER 	SAL_RESID_POINTER_NULL					NULLPTR.PTR
POINTER 	SAL_RESID_POINTER_HELP					HELP.PTR
POINTER 	SAL_RESID_POINTER_CROSS 				CROSS.PTR
POINTER 	SAL_RESID_POINTER_MOVE					MOVE.PTR
POINTER 	SAL_RESID_POINTER_HSPLIT				HSPLIT.PTR
POINTER 	SAL_RESID_POINTER_VSPLIT				VSPLIT.PTR
POINTER 	SAL_RESID_POINTER_HSIZEBAR				HSIZEBAR.PTR
POINTER 	SAL_RESID_POINTER_VSIZEBAR				VSIZEBAR.PTR
POINTER 	SAL_RESID_POINTER_HAND					HAND.PTR
POINTER 	SAL_RESID_POINTER_REFHAND				REFHAND.PTR
POINTER 	SAL_RESID_POINTER_PEN					PEN.PTR
POINTER 	SAL_RESID_POINTER_MAGNIFY				MAGNIFY.PTR
POINTER 	SAL_RESID_POINTER_FILL					FILL.PTR
POINTER 	SAL_RESID_POINTER_ROTATE				ROTATE.PTR
POINTER 	SAL_RESID_POINTER_HSHEAR				HSHEAR.PTR
POINTER 	SAL_RESID_POINTER_VSHEAR				VSHEAR.PTR
POINTER 	SAL_RESID_POINTER_MIRROR				MIRROR.PTR
POINTER 	SAL_RESID_POINTER_CROOK 				CROOK.PTR
POINTER 	SAL_RESID_POINTER_CROP					CROP.PTR
POINTER 	SAL_RESID_POINTER_MOVEPOINT 			MOVEPT.PTR
POINTER 	SAL_RESID_POINTER_MOVEBEZIERWEIGHT		MOVEBW.PTR
POINTER 	SAL_RESID_POINTER_MOVEDATA				MOVEDATA.PTR
POINTER 	SAL_RESID_POINTER_COPYDATA				COPYDATA.PTR
POINTER 	SAL_RESID_POINTER_LINKDATA				LINKDATA.PTR
POINTER 	SAL_RESID_POINTER_MOVEDATALINK			MOVEDLNK.PTR
POINTER 	SAL_RESID_POINTER_COPYDATALINK			COPYDLNK.PTR
POINTER 	SAL_RESID_POINTER_MOVEFILE				MOVEF.PTR
POINTER 	SAL_RESID_POINTER_COPYFILE				COPYF.PTR
POINTER 	SAL_RESID_POINTER_LINKFILE				LINKF.PTR
POINTER 	SAL_RESID_POINTER_MOVEFILELINK			MOVEFLNK.PTR
POINTER 	SAL_RESID_POINTER_COPYFILELINK			COPYFLNK.PTR
POINTER 	SAL_RESID_POINTER_MOVEFILES 			MOVEF2.PTR
POINTER 	SAL_RESID_POINTER_COPYFILES 			COPYF2.PTR
POINTER 	SAL_RESID_POINTER_DRAW_LINE 			DLINE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_RECT 			DRECT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_POLYGON			DPOLYGON.PTR
POINTER 	SAL_RESID_POINTER_DRAW_BEZIER			DBEZIER.PTR
POINTER 	SAL_RESID_POINTER_DRAW_ARC				DARC.PTR
POINTER 	SAL_RESID_POINTER_DRAW_PIE				DPIE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_CIRCLECUT		DCIRCCUT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_ELLIPSE			DELLIPSE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_FREEHAND 		DFREE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_CONNECT			DCONNECT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_TEXT 			DTEXT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_CAPTION			DCAPT.PTR
POINTER 	SAL_RESID_POINTER_CHART 				CHART.PTR
POINTER 	SAL_RESID_POINTER_DETECTIVE 			DETECTIV.PTR
POINTER 	SAL_RESID_POINTER_PIVOT_COL 			PIVOTCOL.PTR
POINTER 	SAL_RESID_POINTER_PIVOT_ROW 			PIVOTROW.PTR
POINTER 	SAL_RESID_POINTER_PIVOT_FIELD			PIVOTFLD.PTR
POINTER 	SAL_RESID_POINTER_CHAIN 				CHAIN.PTR
POINTER 	SAL_RESID_POINTER_CHAIN_NOTALLOWED		CHAINNOT.PTR
POINTER 	SAL_RESID_POINTER_TIMEEVENT_MOVE		TIMEMOVE.PTR
POINTER 	SAL_RESID_POINTER_TIMEEVENT_SIZE		TIMESIZE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_N			ASN.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_S			ASS.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_W			ASW.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_E			ASE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NW 		ASNW.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NE 		ASNE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_SW 		ASSW.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_SE 		ASSE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NS 		ASNS.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_WE 		ASWE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NSWE		ASNSWE.PTR

POINTER 	SAL_RESID_POINTER_AIRBRUSH			AIRBRUSH.PTR
POINTER 	SAL_RESID_POINTER_TEXT_VERTICAL			VTEXT.PTR
POINTER 	SAL_RESID_POINTER_TAB_SELECT_S			TBLSELS.PTR
POINTER 	SAL_RESID_POINTER_TAB_SELECT_E			TBLSELE.PTR
POINTER 	SAL_RESID_POINTER_TAB_SELECT_SE			TBLSELSE.PTR
POINTER 	SAL_RESID_POINTER_TAB_SELECT_W			TBLSELW.PTR
POINTER 	SAL_RESID_POINTER_TAB_SELECT_SW			TBLSELSW.PTR
POINTER 	SAL_RESID_POINTER_PAINTBRUSH			PNTBRSH.PTR

ICON		SAL_RESID_ICON_DEFAULT						SD2.ICO

