/*************************************************************************
*
*   $RCSfile: salsrc.rc,v $
*
*   $Revision: 1.1.1.1 $
*
*   last change: $Author: hr $ $Date: 2000-09-18 17:05:34 $
*
*   The Contents of this file are made available subject to the terms of
*   either of the following licenses
*
*          - GNU Lesser General Public License Version 2.1
*          - Sun Industry Standards Source License Version 1.1
*
*   Sun Microsystems Inc., October, 2000
*
*   GNU Lesser General Public License Version 2.1
*   =============================================
*   Copyright 2000 by Sun Microsystems, Inc.
*   901 San Antonio Road, Palo Alto, CA 94303, USA
*
*   This library is free software; you can redistribute it and/or
*   modify it under the terms of the GNU Lesser General Public
*   License version 2.1, as published by the Free Software Foundation.
*
*   This library is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
*   Lesser General Public License for more details.
*
*   You should have received a copy of the GNU Lesser General Public
*   License along with this library; if not, write to the Free Software
*   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
*   MA  02111-1307  USA
*
*
*   Sun Industry Standards Source License Version 1.1
*   =================================================
*   The contents of this file are subject to the Sun Industry Standards
*   Source License Version 1.1 (the "License"); You may not use this file
*   except in compliance with the License. You may obtain a copy of the
*   License at http://www.openoffice.org/license.html.
*
*   Software provided under this License is provided on an "AS IS" basis,
*   WITHOUT WARRUNTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING,
*   WITHOUT LIMITATION, WARRUNTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
*   MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
*   See the License for the specific provisions governing your rights and
*   obligations concerning the Software.
*
*   The Initial Developer of the Original Code is: Sun Microsystems, Inc..
*
*   Copyright: 2000 by Sun Microsystems, Inc.
*
*   All Rights Reserved.
*
*   Contributor(s): _______________________________________
*
*
*
**************************************************************************/

#ifndef _SV_SALIDS_HRC
#include <salids.hrc>
#endif

POINTER 	SAL_RESID_POINTER_NULL					NULLPTR.PTR
POINTER 	SAL_RESID_POINTER_HELP					HELP.PTR
POINTER 	SAL_RESID_POINTER_CROSS 				CROSS.PTR
POINTER 	SAL_RESID_POINTER_MOVE					MOVE.PTR
POINTER 	SAL_RESID_POINTER_HSPLIT				HSPLIT.PTR
POINTER 	SAL_RESID_POINTER_VSPLIT				VSPLIT.PTR
POINTER 	SAL_RESID_POINTER_HSIZEBAR				HSIZEBAR.PTR
POINTER 	SAL_RESID_POINTER_VSIZEBAR				VSIZEBAR.PTR
POINTER 	SAL_RESID_POINTER_HAND					HAND.PTR
POINTER 	SAL_RESID_POINTER_REFHAND				REFHAND.PTR
POINTER 	SAL_RESID_POINTER_PEN					PEN.PTR
POINTER 	SAL_RESID_POINTER_MAGNIFY				MAGNIFY.PTR
POINTER 	SAL_RESID_POINTER_FILL					FILL.PTR
POINTER 	SAL_RESID_POINTER_ROTATE				ROTATE.PTR
POINTER 	SAL_RESID_POINTER_HSHEAR				HSHEAR.PTR
POINTER 	SAL_RESID_POINTER_VSHEAR				VSHEAR.PTR
POINTER 	SAL_RESID_POINTER_MIRROR				MIRROR.PTR
POINTER 	SAL_RESID_POINTER_CROOK 				CROOK.PTR
POINTER 	SAL_RESID_POINTER_CROP					CROP.PTR
POINTER 	SAL_RESID_POINTER_MOVEPOINT 			MOVEPT.PTR
POINTER 	SAL_RESID_POINTER_MOVEBEZIERWEIGHT		MOVEBW.PTR
POINTER 	SAL_RESID_POINTER_MOVEDATA				MOVEDATA.PTR
POINTER 	SAL_RESID_POINTER_COPYDATA				COPYDATA.PTR
POINTER 	SAL_RESID_POINTER_LINKDATA				LINKDATA.PTR
POINTER 	SAL_RESID_POINTER_MOVEDATALINK			MOVEDLNK.PTR
POINTER 	SAL_RESID_POINTER_COPYDATALINK			COPYDLNK.PTR
POINTER 	SAL_RESID_POINTER_MOVEFILE				MOVEF.PTR
POINTER 	SAL_RESID_POINTER_COPYFILE				COPYF.PTR
POINTER 	SAL_RESID_POINTER_LINKFILE				LINKF.PTR
POINTER 	SAL_RESID_POINTER_MOVEFILELINK			MOVEFLNK.PTR
POINTER 	SAL_RESID_POINTER_COPYFILELINK			COPYFLNK.PTR
POINTER 	SAL_RESID_POINTER_MOVEFILES 			MOVEF2.PTR
POINTER 	SAL_RESID_POINTER_COPYFILES 			COPYF2.PTR
POINTER 	SAL_RESID_POINTER_DRAW_LINE 			DLINE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_RECT 			DRECT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_POLYGON			DPOLYGON.PTR
POINTER 	SAL_RESID_POINTER_DRAW_BEZIER			DBEZIER.PTR
POINTER 	SAL_RESID_POINTER_DRAW_ARC				DARC.PTR
POINTER 	SAL_RESID_POINTER_DRAW_PIE				DPIE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_CIRCLECUT		DCIRCCUT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_ELLIPSE			DELLIPSE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_FREEHAND 		DFREE.PTR
POINTER 	SAL_RESID_POINTER_DRAW_CONNECT			DCONNECT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_TEXT 			DTEXT.PTR
POINTER 	SAL_RESID_POINTER_DRAW_CAPTION			DCAPT.PTR
POINTER 	SAL_RESID_POINTER_CHART 				CHART.PTR
POINTER 	SAL_RESID_POINTER_DETECTIVE 			DETECTIV.PTR
POINTER 	SAL_RESID_POINTER_PIVOT_COL 			PIVOTCOL.PTR
POINTER 	SAL_RESID_POINTER_PIVOT_ROW 			PIVOTROW.PTR
POINTER 	SAL_RESID_POINTER_PIVOT_FIELD			PIVOTFLD.PTR
POINTER 	SAL_RESID_POINTER_CHAIN 				CHAIN.PTR
POINTER 	SAL_RESID_POINTER_CHAIN_NOTALLOWED		CHAINNOT.PTR
POINTER 	SAL_RESID_POINTER_TIMEEVENT_MOVE		TIMEMOVE.PTR
POINTER 	SAL_RESID_POINTER_TIMEEVENT_SIZE		TIMESIZE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_N			ASN.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_S			ASS.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_W			ASW.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_E			ASE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NW 		ASNW.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NE 		ASNE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_SW 		ASSW.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_SE 		ASSE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NS 		ASNS.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_WE 		ASWE.PTR
POINTER 	SAL_RESID_POINTER_AUTOSCROLL_NSWE		ASNSWE.PTR

ICON		SAL_RESID_ICON_SD						SD.ICO

