[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=true
Icon=extension
Type=MimeType
Patterns=*.oxt
MimeType=application/vnd.openofficeorg.extension
Comment=Extension
