[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.xlsm
MimeType=application/vnd.ms-excel.sheet.macroenabled.12
Comment=Microsoft Excel Worksheet
