[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.xltm
MimeType=application/vnd.ms-excel.template.macroenabled.12
Comment=Microsoft Excel Worksheet Template
