[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.ppt
MimeType=application/vnd.ms-powerpoint
Comment=Microsoft PowerPoint Presentation
