[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.potm
MimeType=application/vnd.ms-powerpoint.template.macroenabled.12
Comment=Microsoft PowerPoint Presentation Template
