[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.pptm
MimeType=application/vnd.ms-powerpoint.presentation.macroenabled.12
Comment=Microsoft PowerPoint Presentation
