[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=drawing
Type=MimeType
Patterns=*.otd
MimeType=application/x-vnd.oasis.openoffice.drawing-template
Comment=Open Office Drawing Template
