[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=text-template
Type=MimeType
Patterns=*.ott
MimeType=application/x-vnd.oasis.openoffice.text-template
Comment=Open Office Text Template
