[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=presentation
Type=MimeType
Patterns=*.otp
MimeType=application/x-vnd.oasis.openoffice.presentation-template
Comment=Open Office Presentation Template
