[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=master-document
Type=MimeType
Patterns=*.oom
MimeType=application/x-vnd.oasis.openoffice.text-master
Comment=Open Office Master Document
