[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-database
Type=MimeType
Patterns=*.odb
MimeType=application/vnd.sun.xml.base
Comment=OpenDocument Database
