[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-text-template
Type=MimeType
Patterns=*.ott
MimeType=application/vnd.oasis.opendocument.text-template
Comment=OpenDocument Text Template
