[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-drawing
Type=MimeType
Patterns=*.odg
MimeType=application/vnd.oasis.opendocument.graphics
Comment=OpenDocument Drawing
