[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=presentation
Type=MimeType
Patterns=*.oop
MimeType=application/x-vnd.oasis.openoffice.presentation
Comment=Open Office Presentation
