[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-master-document
Type=MimeType
Patterns=*.odm
MimeType=application/vnd.oasis.opendocument.text-master
Comment=OpenDocument Master Document
