[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-drawing-template
Type=MimeType
Patterns=*.otg
MimeType=application/vnd.oasis.opendocument.graphics-template
Comment=OpenDocument Drawing Template
