[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=oasis-presentation-template
Type=MimeType
Patterns=*.otp
MimeType=application/vnd.oasis.opendocument.presentation-template
Comment=OpenDocument Presentation Template
