[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=spreadsheet
Type=MimeType
Patterns=*.ots
MimeType=application/x-vnd.oasis.openoffice.spreadsheet-template
Comment=Open Office Spreadsheet Template
