[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.xlsx
MimeType=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
Comment=Microsoft Excel Worksheet
