[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.docx
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document
Comment=Microsoft Word Document
