[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=
Type=MimeType
Patterns=*.pptx
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation
Comment=Microsoft PowerPoint Presentation
