/source/.gradle/
/source/.idea/
/source/assets/
/source/assets_fullUI/
/source/assets_strippedUI/
/source/build/
/source/captures/
/source/jni/Application.mk
/source/res_generated
/jniLibs/
/source/liboSettings.gradle
/source/local.properties
/source/native-code.cxx
/obj/
/source/source.iml
