<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
-->
<style-mapper-definition
    xmlns="http://jfreereport.sourceforge.net/namespaces/engine/openoffice/stylemapper">
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="a"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="text"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="alphabetical-index"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="alphabetical-index-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="bibliography"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="bibliography-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="h"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="illustration-index"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="illustration-index-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-bibliography"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-chapter"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-link-end"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-link-start"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-page-number"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-span"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-tab-stop"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-entry-text"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-source-style"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-title"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="index-title-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="linenumbering-configuration"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="text"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="list"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="list"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="list-level-style-bullet"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="text"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="list-level-style-number"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="numbered-paragraph"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="list"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
             element-name="object-index"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
             attribute-name="style-name"
             style-family="section"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="object-index-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="outline-level-style"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="character"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="p"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="p"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="class-names"
           style-family="paragraph"
           type="styleNameRefs"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="ruby"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="ruby"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="ruby-text"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="section"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="span"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="text"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="span"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="class-names"
           style-family="text"
           type="styleNameRefs"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="table-index"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="table-index-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="table-of-content"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="table-of-content-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="user-index"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="section"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           element-name="user-index-entry-template"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
           attribute-name="style-name"
           style-family="paragraph"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="table"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="background"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="body"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="covered-table-cell"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="even-columns"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="even-rows"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="first-column"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="first-row"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="last-column"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="last-row"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="odd-columns"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="odd-rows"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="table-cell"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-cell"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="table-column"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-column"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           element-name="table-row"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
           attribute-name="style-name"
           style-family="table-row"
           type="styleNameRef"/>

  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="cube"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="extrude"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="rotate"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="scene"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="sphere"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="caption"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="circle"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="connector"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="control"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="custom-shape"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
         element-name="ellipse"
         attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
         attribute-name="style-name"
         style-family="graphic"
         type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="frame"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="g"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="line"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>

  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="measure"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="page"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="page-thumbnail"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             element-name="path"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             attribute-name="style-name"
             style-family="graphic"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="polygon"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="polyline"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             element-name="rect"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             attribute-name="style-name"
             style-family="graphic"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="regular-polygon"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
           element-name="annotation"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
             element-name="notes"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             attribute-name="style-name"
             style-family="graphic"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
           element-name="handout-master"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
           element-name="master-page"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="graphic"
           type="styleNameRef"/>

  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="cube"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="extrude"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="rotate"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="scene"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
           element-name="sphere"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="caption"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="circle"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="connector"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="custom-shape"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
         element-name="ellipse"
         attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
         attribute-name="style-name"
         style-family="presentation"
         type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="frame"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="g"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="line"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="measure"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="page-thumbnail"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             element-name="path"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
             attribute-name="style-name"
             style-family="presentation"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="polygon"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="polyline"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
             element-name="rect"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
             attribute-name="style-name"
             style-family="presentation"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
           element-name="regular-polygon"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
           element-name="annotation"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0"
           attribute-name="style-name"
           style-family="presentation"
           type="styleNameRef"/>

  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="axis"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="chart"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="data-label"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="data-point"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="equation"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="error-indicator"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="floor"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             element-name="footer"
             attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
             attribute-name="style-name"
             style-family="chart"
             type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="grid"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="legend"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="mean-value"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="plot-area"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="regression-curve"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="series"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="stock-gain-marker"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="stock-loss-marker"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="stock-range-line"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="subtitle"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="title"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           element-name="wall"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
           attribute-name="style-name"
           style-family="chart"
           type="styleNameRef"/>
  <mapping element-namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
           element-name="drop-cap"
           attribute-namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
           attribute-name="style-name"
           style-family="text"
           type="styleNameRef"/>
</style-mapper-definition>
