<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.libreoffice" 
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application 
		 android:debuggable="true"
                 android:largeHeap="true"
                 android:hardwareAccelerated="true"
		 android:icon="@drawable/lo_icon"
		 android:label="@string/app_name" 
		 android:theme="@android:style/Theme.Holo.Light">
		 
        <!-- Original Document Loader activity - file Viewer -->         
        <activity android:name=".android.DocumentLoader"
        		  android:theme="@style/DocumentViewer"
                  android:label="DocumentLoader"
                  android:configChanges="orientation|keyboardHidden">
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <!-- File Explorer Activities taken from eclipse workspace -->        
        <activity
            android:name=".ui.LibreOfficeUIActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Holo.Light" android:name=".ui.WriterViewerActivity">
            <intent-filter android:label="writer_viewer"></intent-filter>
        </activity>
        <activity android:name=".ui.PreferenceEditor"></activity>
        
    </application>
</manifest>
