<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.libreoffice.impressremote"
          android:versionCode="8"
          android:versionName="1.1"
          android:installLocation="auto">

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14"/>

    <application
        android:label="@string/application_name"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:theme="@style/Theme.ImpressRemote">

        <activity
            android:name=".activity.ComputersActivity"
            android:theme="@style/Theme.ImpressRemote.Computers">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.ComputerConnectionActivity"
            android:label="@string/title_connection">
        </activity>

        <activity
            android:name=".activity.ComputerCreationActivity"
            android:label="@string/title_creation"
            android:theme="@style/Theme.ImpressRemote.ComputerCreation">
        </activity>

        <activity
            android:name=".activity.SlideShowActivity"
            android:label="@string/title_slide_show">
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings">
        </activity>

        <activity
            android:name=".activity.RequirementsActivity"
            android:label="@string/title_requirements">
        </activity>

        <activity
            android:name=".activity.LicensesActivity"
            android:label="@string/title_licenses">
        </activity>

        <service
            android:name=".communication.CommunicationService">
        </service>

    </application>

</manifest>
