<?xml version="1.0" encoding="utf-8"?>
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.libreoffice.impressremote"
          android:versionCode="8"
          android:versionName="2.0.0"
          android:installLocation="auto">

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:label="@string/application_name"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:theme="@style/Theme.ImpressRemote">

        <activity
            android:name=".activity.ComputersActivity"
            android:theme="@style/Theme.ImpressRemote.Computers">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.ComputerCreationActivity"
            android:label="@string/title_creation"
            android:theme="@style/Theme.ImpressRemote.ComputerCreation">
        </activity>

        <activity
            android:name=".activity.ComputerConnectionActivity"
            android:label="@string/title_connection">
        </activity>

        <activity
            android:name=".activity.SlideShowActivity"
            android:label="@string/title_slide_show">
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings">
        </activity>

        <activity
            android:name=".activity.RequirementsActivity"
            android:label="@string/title_requirements">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="org.libreoffice.impressremote"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.LicensesActivity"
            android:label="@string/title_licenses">
        </activity>

        <service
            android:name=".communication.CommunicationService">
        </service>

    </application>

</manifest>
