<?xml version="1.0" encoding="UTF-8"?>
<!--************************************************************************
 *
 * Licensed Materials - Property of IBM.
 * (C) Copyright IBM Corporation 2003, 2012.  All Rights Reserved.
 * U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 ************************************************************************ -->

<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Vclauto"
            id="org.vclauto.assistant">
      </category>
      <view
            name="Vcl Explorer"
            icon="icons/sample.gif"
            category="org.vclauto.assistant"
            class="org.vclauto.assistant.views.VclExplorer"
            id="org.vclauto.assistant.views.VclExplorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.vclauto.assistant.views.VclExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.vclauto.assistant.preferences.PreferencePage"
            id="org.vclauto.assistant.preferences.PreferencePage"
            name="Vclauto Assistant">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.vclauto.assistant.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
