Source: coolwsd
Section: web
Priority: optional
Maintainer: Andras Timar <andras.timar@collabora.com>
Build-Depends: debhelper (>= 9.20160709) | dh-systemd (>= 1.3), dh-apparmor, libcap-dev, libcap2-bin, nodejs, python3-polib, python3-lxml, fontconfig, libpam-dev, libcppunit-dev, pkg-config, devscripts, m4
Standards-Version: 3.9.7

Package: coolwsd
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser, fontconfig, cpio,
 collaboraofficebasis-calc (>= 26.04.0),
 collaboraofficebasis-core (>= 26.04.0),
 collaboraofficebasis-graphicfilter (>= 26.04.0),
 collaboraofficebasis-images (>= 26.04.0),
 collaboraofficebasis-impress (>= 26.04.0),
 collaboraofficebasis-ooofonts (>= 26.04.0),
 collaboraofficebasis-writer (>= 26.04.0),
 collaboraoffice (>= 26.04.0),
 collaboraoffice-ure (>= 26.04.0),
 collaboraofficebasis-en-us (>= 26.04.0),
 collaboraofficebasis-draw (>= 26.04.0),
 collaboraofficebasis-extension-pdf-import (>= 26.04.0),
 collaboraofficebasis-ooolinguistic (>= 26.04.0),
 collaboraofficebasis-math (>= 26.04.0)
Conflicts: loolwsd,
 collaboraoffice-dict-br,
 collaboraoffice-dict-et,
 collaboraoffice-dict-gd,
 collaboraoffice-dict-gu,
 collaboraoffice-dict-hi,
 collaboraoffice-dict-lt,
 collaboraoffice-dict-lv,
 collaboraoffice-dict-ro,
 collaboraoffice-dict-sr,
 collaboraoffice-dict-te,
 collaboraofficebasis-as,
 collaboraofficebasis-bn-in,
 collaboraofficebasis-ast,
 collaboraofficebasis-br,
 collaboraofficebasis-ca-valencia,
 collaboraofficebasis-cy,
 collaboraofficebasis-et,
 collaboraofficebasis-ga,
 collaboraofficebasis-gd,
 collaboraofficebasis-gu,
 collaboraofficebasis-hi,
 collaboraofficebasis-km,
 collaboraofficebasis-kn,
 collaboraofficebasis-lt,
 collaboraofficebasis-lv,
 collaboraofficebasis-ml,
 collaboraofficebasis-mr,
 collaboraofficebasis-nn,
 collaboraofficebasis-or,
 collaboraofficebasis-pa-in,
 collaboraofficebasis-ro,
 collaboraofficebasis-sr,
 collaboraofficebasis-sr-latn,
 collaboraofficebasis-ta,
 collaboraofficebasis-te
Replaces: loolwsd,
 collaboraoffice-dict-br,
 collaboraoffice-dict-et,
 collaboraoffice-dict-gd,
 collaboraoffice-dict-gu,
 collaboraoffice-dict-hi,
 collaboraoffice-dict-lt,
 collaboraoffice-dict-lv,
 collaboraoffice-dict-ro,
 collaboraoffice-dict-sr,
 collaboraoffice-dict-te,
 collaboraofficebasis-as,
 collaboraofficebasis-bn-in,
 collaboraofficebasis-ast,
 collaboraofficebasis-br,
 collaboraofficebasis-ca-valencia,
 collaboraofficebasis-cy,
 collaboraofficebasis-et,
 collaboraofficebasis-ga,
 collaboraofficebasis-gd,
 collaboraofficebasis-gu,
 collaboraofficebasis-hi,
 collaboraofficebasis-km,
 collaboraofficebasis-kn,
 collaboraofficebasis-lt,
 collaboraofficebasis-lv,
 collaboraofficebasis-ml,
 collaboraofficebasis-mr,
 collaboraofficebasis-nn,
 collaboraofficebasis-or,
 collaboraofficebasis-pa-in,
 collaboraofficebasis-ro,
 collaboraofficebasis-sr,
 collaboraofficebasis-sr-latn,
 collaboraofficebasis-ta,
 collaboraofficebasis-te
Description: Collabora Online WebSocket Daemon
 COOLWSD is a daemon that talks to web browser clients and provides LibreOffice
 services.

Package: coolwsd-deprecated
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 coolwsd, libcap2-bin
Description: Collabora Online WebSocket Daemon Deprecated Utilities
 COOLWSD is a daemon that talks to web browser clients and provides LibreOffice
 services.
 .
 This package provides helpers to function in the absence of working mount
 namespaces.
