/*************************************************************************
*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 * 
 * Copyright 2008 by Sun Microsystems, Inc.
 *
 * OpenOffice.org - a multi-platform office productivity suite
 *
 * $RCSfile: salsrc.rc,v $
 * $Revision: 1.6 $
 *
 * This file is part of OpenOffice.org.
 *
 * OpenOffice.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License version 3
 * only, as published by the Free Software Foundation.
 *
 * OpenOffice.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License version 3 for more details
 * (a copy is included in the LICENSE file that accompanied this code).
 *
 * You should have received a copy of the GNU Lesser General Public License
 * version 3 along with OpenOffice.org.  If not, see
 * <http://www.openoffice.org/license.html>
 * for a copy of the LGPLv3 License.
 *
**************************************************************************/

// for WINVER
#include <windows.h>

#ifndef _SV_SALIDS_HRC
#include <salids.hrc>
#endif

SAL_RESID_POINTER_NULL				CURSOR		NULLPTR.CUR
#if ( WINVER < 0x0400 )
SAL_RESID_POINTER_HELP				CURSOR		HELP.CUR
#endif
#ifndef WNT
SAL_RESID_POINTER_HSIZE 			CURSOR		HSIZE.CUR
SAL_RESID_POINTER_VSIZE 			CURSOR		VSIZE.CUR
SAL_RESID_POINTER_NESWSIZE			CURSOR		NESWSIZE.CUR
SAL_RESID_POINTER_NWSESIZE			CURSOR		NWSESIZE.CUR
#endif
SAL_RESID_POINTER_CROSS 			CURSOR		CROSS.CUR
SAL_RESID_POINTER_MOVE				CURSOR		MOVE.CUR
SAL_RESID_POINTER_HSPLIT			CURSOR		HSPLIT.CUR
SAL_RESID_POINTER_VSPLIT			CURSOR		VSPLIT.CUR
SAL_RESID_POINTER_HSIZEBAR			CURSOR		HSIZEBAR.CUR
SAL_RESID_POINTER_VSIZEBAR			CURSOR		VSIZEBAR.CUR
SAL_RESID_POINTER_HAND				CURSOR		HAND.CUR
SAL_RESID_POINTER_REFHAND			CURSOR		REFHAND.CUR
SAL_RESID_POINTER_PEN				CURSOR		PEN.CUR
SAL_RESID_POINTER_MAGNIFY			CURSOR		MAGNIFY.CUR
SAL_RESID_POINTER_FILL				CURSOR		FILL.CUR
SAL_RESID_POINTER_ROTATE			CURSOR		ROTATE.CUR
SAL_RESID_POINTER_HSHEAR			CURSOR		HSHEAR.CUR
SAL_RESID_POINTER_VSHEAR			CURSOR		VSHEAR.CUR
SAL_RESID_POINTER_MIRROR			CURSOR		MIRROR.CUR
SAL_RESID_POINTER_CROOK 			CURSOR		CROOK.CUR
SAL_RESID_POINTER_CROP				CURSOR		CROP.CUR
SAL_RESID_POINTER_MOVEPOINT 		CURSOR		MOVEPT.CUR
SAL_RESID_POINTER_MOVEBEZIERWEIGHT	CURSOR		MOVEBW.CUR
SAL_RESID_POINTER_MOVEDATA			CURSOR		MOVEDATA.CUR
SAL_RESID_POINTER_COPYDATA			CURSOR		COPYDATA.CUR
SAL_RESID_POINTER_LINKDATA			CURSOR		LINKDATA.CUR
SAL_RESID_POINTER_MOVEDATALINK		CURSOR		MOVEDLNK.CUR
SAL_RESID_POINTER_COPYDATALINK		CURSOR		COPYDLNK.CUR
SAL_RESID_POINTER_MOVEFILE			CURSOR		MOVEF.CUR
SAL_RESID_POINTER_COPYFILE			CURSOR		COPYF.CUR
SAL_RESID_POINTER_LINKFILE			CURSOR		LINKF.CUR
SAL_RESID_POINTER_MOVEFILELINK		CURSOR		MOVEFLNK.CUR
SAL_RESID_POINTER_COPYFILELINK		CURSOR		COPYFLNK.CUR
SAL_RESID_POINTER_MOVEFILES 		CURSOR		MOVEF2.CUR
SAL_RESID_POINTER_COPYFILES 		CURSOR		COPYF2.CUR
SAL_RESID_POINTER_NOTALLOWED		CURSOR		NOTALLOW.CUR
SAL_RESID_POINTER_DRAW_LINE 		CURSOR		DLINE.CUR
SAL_RESID_POINTER_DRAW_RECT 		CURSOR		DRECT.CUR
SAL_RESID_POINTER_DRAW_POLYGON		CURSOR		DPOLYGON.CUR
SAL_RESID_POINTER_DRAW_BEZIER		CURSOR		DBEZIER.CUR
SAL_RESID_POINTER_DRAW_ARC			CURSOR		DARC.CUR
SAL_RESID_POINTER_DRAW_PIE			CURSOR		DPIE.CUR
SAL_RESID_POINTER_DRAW_CIRCLECUT	CURSOR		DCIRCCUT.CUR
SAL_RESID_POINTER_DRAW_ELLIPSE		CURSOR		DELLIPSE.CUR
SAL_RESID_POINTER_DRAW_FREEHAND 	CURSOR		DFREE.CUR
SAL_RESID_POINTER_DRAW_CONNECT		CURSOR		DCONNECT.CUR
SAL_RESID_POINTER_DRAW_TEXT 		CURSOR		DTEXT.CUR
SAL_RESID_POINTER_DRAW_CAPTION		CURSOR		DCAPT.CUR
SAL_RESID_POINTER_CHART 			CURSOR		CHART.CUR
SAL_RESID_POINTER_DETECTIVE 		CURSOR		DETECTIV.CUR
SAL_RESID_POINTER_PIVOT_COL 		CURSOR		PIVOTCOL.CUR
SAL_RESID_POINTER_PIVOT_ROW 		CURSOR		PIVOTROW.CUR
SAL_RESID_POINTER_PIVOT_FIELD		CURSOR		PIVOTFLD.CUR
SAL_RESID_POINTER_PIVOT_DELETE		CURSOR		PIVOTDEL.CUR
SAL_RESID_POINTER_CHAIN 			CURSOR		CHAIN.CUR
SAL_RESID_POINTER_CHAIN_NOTALLOWED	CURSOR		CHAINNOT.CUR
SAL_RESID_POINTER_TIMEEVENT_MOVE	CURSOR		TIMEMOVE.CUR
SAL_RESID_POINTER_TIMEEVENT_SIZE	CURSOR		TIMESIZE.CUR
SAL_RESID_POINTER_AUTOSCROLL_N		CURSOR		ASN.CUR
SAL_RESID_POINTER_AUTOSCROLL_S		CURSOR		ASS.CUR
SAL_RESID_POINTER_AUTOSCROLL_W		CURSOR		ASW.CUR
SAL_RESID_POINTER_AUTOSCROLL_E		CURSOR		ASE.CUR
SAL_RESID_POINTER_AUTOSCROLL_NW 	CURSOR		ASNW.CUR
SAL_RESID_POINTER_AUTOSCROLL_NE 	CURSOR		ASNE.CUR
SAL_RESID_POINTER_AUTOSCROLL_SW 	CURSOR		ASSW.CUR
SAL_RESID_POINTER_AUTOSCROLL_SE 	CURSOR		ASSE.CUR
SAL_RESID_POINTER_AUTOSCROLL_NS 	CURSOR		ASNS.CUR
SAL_RESID_POINTER_AUTOSCROLL_WE 	CURSOR		ASWE.CUR
SAL_RESID_POINTER_AUTOSCROLL_NSWE	CURSOR		ASNSWE.CUR
SAL_RESID_POINTER_AIRBRUSH              CURSOR          AIRBRUSH.CUR
SAL_RESID_POINTER_TEXT_VERTICAL 	CURSOR		VTEXT.CUR
SAL_RESID_POINTER_TAB_SELECT_S          CURSOR          TBLSELS.CUR
SAL_RESID_POINTER_TAB_SELECT_E          CURSOR          TBLSELE.CUR
SAL_RESID_POINTER_TAB_SELECT_SE         CURSOR          TBLSELSE.CUR
SAL_RESID_POINTER_TAB_SELECT_W          CURSOR          TBLSELW.CUR
SAL_RESID_POINTER_TAB_SELECT_SW         CURSOR          TBLSELSW.CUR
SAL_RESID_POINTER_PAINTBRUSH            CURSOR          PNTBRSH.CUR

SAL_RESID_BITMAP_50                             BITMAP          50.BMP

SAL_RESID_ICON_DEFAULT				ICON		SD.ICO
