/* -*- Mode: Fundamental; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- */
/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */

#include <win/salids.hrc>

SAL_RESID_PointerStyle::Null                  CURSOR          nullptr.cur
SAL_RESID_PointerStyle::Magnify               CURSOR          magnify.cur
SAL_RESID_PointerStyle::Fill                  CURSOR          fill.cur
SAL_RESID_PointerStyle::Rotate                CURSOR          rotate.cur
SAL_RESID_PointerStyle::HShear                CURSOR          hshear.cur
SAL_RESID_PointerStyle::VShear                CURSOR          vshear.cur
SAL_RESID_PointerStyle::Mirror                CURSOR          mirror.cur
SAL_RESID_PointerStyle::Crook                 CURSOR          crook.cur
SAL_RESID_PointerStyle::Crop                  CURSOR          crop.cur
SAL_RESID_PointerStyle::MovePoint             CURSOR          movept.cur
SAL_RESID_PointerStyle::MoveBezierWeight      CURSOR          movebw.cur
SAL_RESID_PointerStyle::MoveData              CURSOR          movedata.cur
SAL_RESID_PointerStyle::CopyData              CURSOR          copydata.cur
SAL_RESID_PointerStyle::LinkData              CURSOR          linkdata.cur
SAL_RESID_PointerStyle::MoveDataLink          CURSOR          movedlnk.cur
SAL_RESID_PointerStyle::CopyDataLink          CURSOR          copydlnk.cur
SAL_RESID_PointerStyle::MoveFile              CURSOR          movef.cur
SAL_RESID_PointerStyle::CopyFile              CURSOR          copyf.cur
SAL_RESID_PointerStyle::LinkFile              CURSOR          linkf.cur
SAL_RESID_PointerStyle::MoveFileLink          CURSOR          moveflnk.cur
SAL_RESID_PointerStyle::CopyFileLink          CURSOR          copyflnk.cur
SAL_RESID_PointerStyle::MoveFiles             CURSOR          movef2.cur
SAL_RESID_PointerStyle::CopyFiles             CURSOR          copyf2.cur
SAL_RESID_PointerStyle::DrawLine             CURSOR          dline.cur
SAL_RESID_PointerStyle::DrawRect             CURSOR          drect.cur
SAL_RESID_PointerStyle::DrawPolygon          CURSOR          dpolygon.cur
SAL_RESID_PointerStyle::DrawBezier           CURSOR          dbezier.cur
SAL_RESID_PointerStyle::DrawArc              CURSOR          darc.cur
SAL_RESID_PointerStyle::DrawPie              CURSOR          dpie.cur
SAL_RESID_PointerStyle::DrawCircleCut        CURSOR          dcirccut.cur
SAL_RESID_PointerStyle::DrawEllipse          CURSOR          dellipse.cur
SAL_RESID_PointerStyle::DrawFreehand         CURSOR          dfree.cur
SAL_RESID_PointerStyle::DrawConnect          CURSOR          dconnect.cur
SAL_RESID_PointerStyle::DrawText             CURSOR          dtext.cur
SAL_RESID_PointerStyle::DrawCaption          CURSOR          dcapt.cur
SAL_RESID_PointerStyle::Chart                 CURSOR          chart.cur
SAL_RESID_PointerStyle::Detective             CURSOR          detectiv.cur
SAL_RESID_PointerStyle::PivotCol             CURSOR          pivotcol.cur
SAL_RESID_PointerStyle::PivotRow             CURSOR          pivotrow.cur
SAL_RESID_PointerStyle::PivotField           CURSOR          pivotfld.cur
SAL_RESID_PointerStyle::PivotDelete          CURSOR          pivotdel.cur
SAL_RESID_PointerStyle::Chain                 CURSOR          chain.cur
SAL_RESID_PointerStyle::ChainNotAllowed      CURSOR          chainnot.cur
SAL_RESID_PointerStyle::TimeEventMove        CURSOR          timemove.cur
SAL_RESID_PointerStyle::TimeEventSize        CURSOR          timesize.cur
SAL_RESID_PointerStyle::AutoScrollN          CURSOR          asn.cur
SAL_RESID_PointerStyle::AutoScrollS          CURSOR          ass.cur
SAL_RESID_PointerStyle::AutoScrollW          CURSOR          asw.cur
SAL_RESID_PointerStyle::AutoScrollE          CURSOR          ase.cur
SAL_RESID_PointerStyle::AutoScrollNW         CURSOR          asnw.cur
SAL_RESID_PointerStyle::AutoScrollNE         CURSOR          asne.cur
SAL_RESID_PointerStyle::AutoScrollSW         CURSOR          assw.cur
SAL_RESID_PointerStyle::AutoScrollSE         CURSOR          asse.cur
SAL_RESID_PointerStyle::AutoScrollNS         CURSOR          asns.cur
SAL_RESID_PointerStyle::AutoScrollWE         CURSOR          aswe.cur
SAL_RESID_PointerStyle::AutoScrollNSWE       CURSOR          asnswe.cur
SAL_RESID_PointerStyle::Airbrush              CURSOR          airbrush.cur
SAL_RESID_PointerStyle::TextVertical         CURSOR          vtext.cur
SAL_RESID_PointerStyle::SelectS          CURSOR          tblsels.cur
SAL_RESID_PointerStyle::SelectE          CURSOR          tblsele.cur
SAL_RESID_PointerStyle::SelectSE         CURSOR          tblselse.cur
SAL_RESID_PointerStyle::SelectW          CURSOR          tblselw.cur
SAL_RESID_PointerStyle::SelectSW         CURSOR          tblselsw.cur
SAL_RESID_PointerStyle::Paintbrush            CURSOR          pntbrsh.cur

SAL_RESID_BITMAP_50                     BITMAP          "50.bmp"

SAL_RESID_ICON_DEFAULT                  ICON            sd.ico

/* vim:set shiftwidth=4 softtabstop=4 expandtab: */
