/*************************************************************************
*
*	$RCSfile: salsrc.rc,v $
*
*	$Revision: 1.2 $
*
*	last change: $Author: th $ $Date: 2000-11-15 20:44:19 $
*
*	The Contents of this file are made available subject to the terms of
*	either of the following licenses
*
*		   - GNU Lesser General Public License Version 2.1
*		   - Sun Industry Standards Source License Version 1.1
*
*	Sun Microsystems Inc., October, 2000
*
*	GNU Lesser General Public License Version 2.1
*	=============================================
*	Copyright 2000 by Sun Microsystems, Inc.
*	901 San Antonio Road, Palo Alto, CA 94303, USA
*
*	This library is free software; you can redistribute it and/or
*	modify it under the terms of the GNU Lesser General Public
*	License version 2.1, as published by the Free Software Foundation.
*
*	This library is distributed in the hope that it will be useful,
*	but WITHOUT ANY WARRANTY; without even the implied warranty of
*	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
*	Lesser General Public License for more details.
*
*	You should have received a copy of the GNU Lesser General Public
*	License along with this library; if not, write to the Free Software
*	Foundation, Inc., 59 Temple Place, Suite 330, Boston,
*	MA	02111-1307	USA
*
*
*	Sun Industry Standards Source License Version 1.1
*	=================================================
*	The contents of this file are subject to the Sun Industry Standards
*	Source License Version 1.1 (the "License"); You may not use this file
*	except in compliance with the License. You may obtain a copy of the
*	License at http://www.openoffice.org/license.html.
*
*	Software provided under this License is provided on an "AS IS" basis,
*	WITHOUT WARRUNTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING,
*	WITHOUT LIMITATION, WARRUNTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
*	MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
*	See the License for the specific provisions governing your rights and
*	obligations concerning the Software.
*
*	The Initial Developer of the Original Code is: Sun Microsystems, Inc..
*
*	Copyright: 2000 by Sun Microsystems, Inc.
*
*	All Rights Reserved.
*
*	Contributor(s): _______________________________________
*
*
*
**************************************************************************/

// for WINVER
#include <windows.h>

#ifndef _SV_SALIDS_HRC
#include <salids.hrc>
#endif

SAL_RESID_POINTER_NULL				CURSOR		NULLPTR.CUR
#if ( WINVER < 0x0400 )
SAL_RESID_POINTER_HELP				CURSOR		HELP.CUR
#endif
#ifndef WNT
SAL_RESID_POINTER_HSIZE 			CURSOR		HSIZE.CUR
SAL_RESID_POINTER_VSIZE 			CURSOR		VSIZE.CUR
SAL_RESID_POINTER_NESWSIZE			CURSOR		NESWSIZE.CUR
SAL_RESID_POINTER_NWSESIZE			CURSOR		NWSESIZE.CUR
#endif
SAL_RESID_POINTER_CROSS 			CURSOR		CROSS.CUR
SAL_RESID_POINTER_MOVE				CURSOR		MOVE.CUR
SAL_RESID_POINTER_HSPLIT			CURSOR		HSPLIT.CUR
SAL_RESID_POINTER_VSPLIT			CURSOR		VSPLIT.CUR
SAL_RESID_POINTER_HSIZEBAR			CURSOR		HSIZEBAR.CUR
SAL_RESID_POINTER_VSIZEBAR			CURSOR		VSIZEBAR.CUR
SAL_RESID_POINTER_HAND				CURSOR		HAND.CUR
SAL_RESID_POINTER_REFHAND			CURSOR		REFHAND.CUR
SAL_RESID_POINTER_PEN				CURSOR		PEN.CUR
SAL_RESID_POINTER_MAGNIFY			CURSOR		MAGNIFY.CUR
SAL_RESID_POINTER_FILL				CURSOR		FILL.CUR
SAL_RESID_POINTER_ROTATE			CURSOR		ROTATE.CUR
SAL_RESID_POINTER_HSHEAR			CURSOR		HSHEAR.CUR
SAL_RESID_POINTER_VSHEAR			CURSOR		VSHEAR.CUR
SAL_RESID_POINTER_MIRROR			CURSOR		MIRROR.CUR
SAL_RESID_POINTER_CROOK 			CURSOR		CROOK.CUR
SAL_RESID_POINTER_CROP				CURSOR		CROP.CUR
SAL_RESID_POINTER_MOVEPOINT 		CURSOR		MOVEPT.CUR
SAL_RESID_POINTER_MOVEBEZIERWEIGHT	CURSOR		MOVEBW.CUR
SAL_RESID_POINTER_MOVEDATA			CURSOR		MOVEDATA.CUR
SAL_RESID_POINTER_COPYDATA			CURSOR		COPYDATA.CUR
SAL_RESID_POINTER_LINKDATA			CURSOR		LINKDATA.CUR
SAL_RESID_POINTER_MOVEDATALINK		CURSOR		MOVEDLNK.CUR
SAL_RESID_POINTER_COPYDATALINK		CURSOR		COPYDLNK.CUR
SAL_RESID_POINTER_MOVEFILE			CURSOR		MOVEF.CUR
SAL_RESID_POINTER_COPYFILE			CURSOR		COPYF.CUR
SAL_RESID_POINTER_LINKFILE			CURSOR		LINKF.CUR
SAL_RESID_POINTER_MOVEFILELINK		CURSOR		MOVEFLNK.CUR
SAL_RESID_POINTER_COPYFILELINK		CURSOR		COPYFLNK.CUR
SAL_RESID_POINTER_MOVEFILES 		CURSOR		MOVEF2.CUR
SAL_RESID_POINTER_COPYFILES 		CURSOR		COPYF2.CUR
SAL_RESID_POINTER_NOTALLOWED		CURSOR		NOTALLOW.CUR
SAL_RESID_POINTER_DRAW_LINE 		CURSOR		DLINE.CUR
SAL_RESID_POINTER_DRAW_RECT 		CURSOR		DRECT.CUR
SAL_RESID_POINTER_DRAW_POLYGON		CURSOR		DPOLYGON.CUR
SAL_RESID_POINTER_DRAW_BEZIER		CURSOR		DBEZIER.CUR
SAL_RESID_POINTER_DRAW_ARC			CURSOR		DARC.CUR
SAL_RESID_POINTER_DRAW_PIE			CURSOR		DPIE.CUR
SAL_RESID_POINTER_DRAW_CIRCLECUT	CURSOR		DCIRCCUT.CUR
SAL_RESID_POINTER_DRAW_ELLIPSE		CURSOR		DELLIPSE.CUR
SAL_RESID_POINTER_DRAW_FREEHAND 	CURSOR		DFREE.CUR
SAL_RESID_POINTER_DRAW_CONNECT		CURSOR		DCONNECT.CUR
SAL_RESID_POINTER_DRAW_TEXT 		CURSOR		DTEXT.CUR
SAL_RESID_POINTER_DRAW_CAPTION		CURSOR		DCAPT.CUR
SAL_RESID_POINTER_CHART 			CURSOR		CHART.CUR
SAL_RESID_POINTER_DETECTIVE 		CURSOR		DETECTIV.CUR
SAL_RESID_POINTER_PIVOT_COL 		CURSOR		PIVOTCOL.CUR
SAL_RESID_POINTER_PIVOT_ROW 		CURSOR		PIVOTROW.CUR
SAL_RESID_POINTER_PIVOT_FIELD		CURSOR		PIVOTFLD.CUR
SAL_RESID_POINTER_CHAIN 			CURSOR		CHAIN.CUR
SAL_RESID_POINTER_CHAIN_NOTALLOWED	CURSOR		CHAINNOT.CUR
SAL_RESID_POINTER_TIMEEVENT_MOVE	CURSOR		TIMEMOVE.CUR
SAL_RESID_POINTER_TIMEEVENT_SIZE	CURSOR		TIMESIZE.CUR
SAL_RESID_POINTER_AUTOSCROLL_N		CURSOR		ASN.CUR
SAL_RESID_POINTER_AUTOSCROLL_S		CURSOR		ASS.CUR
SAL_RESID_POINTER_AUTOSCROLL_W		CURSOR		ASW.CUR
SAL_RESID_POINTER_AUTOSCROLL_E		CURSOR		ASE.CUR
SAL_RESID_POINTER_AUTOSCROLL_NW 	CURSOR		ASNW.CUR
SAL_RESID_POINTER_AUTOSCROLL_NE 	CURSOR		ASNE.CUR
SAL_RESID_POINTER_AUTOSCROLL_SW 	CURSOR		ASSW.CUR
SAL_RESID_POINTER_AUTOSCROLL_SE 	CURSOR		ASSE.CUR
SAL_RESID_POINTER_AUTOSCROLL_NS 	CURSOR		ASNS.CUR
SAL_RESID_POINTER_AUTOSCROLL_WE 	CURSOR		ASWE.CUR
SAL_RESID_POINTER_AUTOSCROLL_NSWE	CURSOR		ASNSWE.CUR
SAL_RESID_POINTER_AIRBRUSH			CURSOR		AIRBRUSH.CUR
SAL_RESID_POINTER_TEXT_VERTICAL 	CURSOR		VTEXT.CUR

SAL_RESID_BITMAP_50 				BITMAP		50.BMP

SAL_RESID_ICON_DEFAULT				ICON		SD.ICO
