/* CSS specific for tablets. */

/* Make the upper toolbar scrollable using swipe as on phones. */
.ui-scroll-wrapper {
	overflow-x: scroll !important;
	scrollbar-width: none; /*css draft (firefox only)*/
	-ms-scrollbar: none; /*ie*/
}
.ui-scroll-wrapper::-webkit-scrollbar { /*webkit only*/
	display: none;
}
.ui-scroll-left,
.ui-scroll-right {
	background: none;
	height: 100%;
	width: 0px;
	top: 0%;
	box-shadow: 8px 0 13px 2px var(--color-primary), -6px 0px 6px 6px var(--color-primary);
	border-radius: 0px;
}
.ui-scroll-right {
	right: 0;
	transform: rotate(180deg);
}

/* Additions for the main menu. */
.main-nav {
	margin: 0;
}
.main-nav.hasnotebookbar {
	overflow: visible; /*make sure #Menubar's contents are visible*/
	display: flex;
	flex-direction: row;
	align-items: center;
}
.hasnotebookbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.hasnotebookbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.cool-annotation-img {
	box-sizing: content-box !important;
}

/* pan tabs & overflow indicator */

.notebookbar-tabs-container > div {
	white-space: nowrap;
	flex: 0 0 auto;
	display: flex;
	list-style-type: none;
}

.notebookbar-tabs-container::-webkit-scrollbar {
	display: none;
}
.notebookbar-tabs-container {
	position: relative;
	z-index: 1;
	overflow-x: auto;
	overflow-y: hidden;
	display: inline-flex;
	justify-content: flex-start;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-ms-autohiding-scrollbar: none;
	scrollbar-width: none;
	flex-wrap: nowrap;
	word-wrap: nowrap;
}

.main-nav.readonly.hasnotebookbar .notebookbar-tabs-container {
	display: none;
}

.hasnotebookbar #document-titlebar {
	position: static;
	display: inline-flex;
	margin: 0 32px 0 4px;
	width: auto;
}

.main-nav:not(.readonly) #document-name-input {
	display: none;
}

.main-nav.readonly.hasnotebookbar #document-titlebar {
	width: auto;
}

.main-nav.readonly.hasnotebookbar #document-name-input {
	min-width: 100%;
}

.main-nav.readonly.hasnotebookbar #document-title-pencil {
	min-width: var(--btn-size);
	margin: 0;
}

#coolwsd-version span:before {
	content: ' (';
	white-space: pre;
}
#coolwsd-version span:after {
	content: ')';
}
