/* CSS specific for desktop browsers. */

#coolwsd-version span:before {
	content: ' (';
	white-space: pre;
}
#coolwsd-version span:after {
	content: ')';
}

/* btns hover status
   Rules not intended for touch devices */
.ui-toggle button:hover,
.button-secondary:hover,
button:not(.ui-corner-all):not(.button-primary):not(.unobutton):not(.form-field-button):not(.notebookbar.ui-tab):not(.ui-expander-btn):not(.arrowbackground):not(.ui-combobox-button):not(.inserttable-grid .col):not(.spinfieldbutton-up):not(.spinfieldbutton-down):not(.ui-treeview-header-button):hover {
	cursor: pointer;
	color: var(--color-text-darker) !important;
	background-color: var(--color-background-lighter) !important;
	border: 1px solid var(--color-border-darker);
}

.button-primary:hover {
	background-color: var(--color-primary-lighter);
	color: var(--color-primary-dark);
	cursor: pointer;
}
