.iframe-dialog-wrap {
	position: absolute;
	z-index: 1106;
	left: 50%;
	top: 50%;
}

.iframe-dialog-wrap:focus {
	outline: none;
}

.iframe-dialog-content {
	margin-left: -50%;
	margin-top: -50%;
}

.iframe-dialog-modal {
	height: 424px;
	width: 448px;
	border: 1px solid var(--color-border);
	box-shadow: var(--shadow-elevated);
	border-radius: var(--border-radius);
	background: var(--color-background-lighter);
}

#iframe-feedback {
	height: 470px;
}
