.iframe-settings-wrap {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.iframe-settings-content {
	position: relative;
	z-index: 1106;
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 512px;
	justify-content: center;
}

.iframe-settings-modal {
	display: flex;
	min-height: 460px;
	justify-content: center;
	align-items: center;
	border: 0;
}

#iframe-settings-save {
	color: var(--color-primary-text);
	background-color: var(--color-primary);
}

#allConfigSection {
	overflow-y: auto;
}

.jsdialog.ui-button-box-right {
	margin-inline-end: 0px
}

#xcu-save-button, #xcu-reset-button, #browser-settings-reset-button, #browser-settings-save-button, #document-settings-reset-button, #document-settings-save-button {
	display: none;
}

.section {
	padding-top: 0px;
}

#settingIframe {
	padding: 0 1rem;
	display: flex;
	height: 100vh;
	gap: 1rem;
}

#settings-nav {
	flex: 0 0 30%;
	box-sizing: border-box;
	padding: 0.5rem 0;
	padding-right: 1rem;
	border-right: 1px solid var(--settings-border);
	overflow-y: auto;
}

.settings-nav-item {
	display: block;
	color: inherit;
	padding: 0.5rem;
	border-radius: var(--border-radius-element);
	margin-bottom: 0.25rem;
}

.settings-nav-item:hover {
	background-color: var(--settings-background-hover);
}

.settings-nav-item.active {
	background-color: var(--settings-background-hover);
}

