# Ignore values-LangCode and values-LangCode-rRegionCode
# folders as to avoid inadvertently adding any translations.
# See http://developer.android.com/guide/topics/resources/providing-resources.html
# for full specification of the various suffixes for resource folders.
/values-[a-z][a-z]
/values-[a-z][a-z]-r[A-Z][A-Z]
