/*************************************************************************
 *
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 * 
 * Copyright 2000, 2010 Oracle and/or its affiliates.
 *
 * OpenOffice.org - a multi-platform office productivity suite
 *
 * This file is part of OpenOffice.org.
 *
 * OpenOffice.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License version 3
 * only, as published by the Free Software Foundation.
 *
 * OpenOffice.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License version 3 for more details
 * (a copy is included in the LICENSE file that accompanied this code).
 *
 * You should have received a copy of the GNU Lesser General Public License
 * version 3 along with OpenOffice.org.  If not, see
 * <http://www.openoffice.org/license.html>
 * for a copy of the LGPLv3 License.
 *
 ************************************************************************/

#include <windows.h>
#include "version.hrc"

// -----------------------------------------------------------------------
//                 version information
// -----------------------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    VERSION, SUBVERSION, MICROVERSION, VERVARIANT
    PRODUCTVERSION VERSION, SUBVERSION, MICROVERSION, VERVARIANT
    FILEFLAGSMASK 0x3F
    FILEFLAGS
#if defined(DEBUG)
    VS_FF_DEBUG |
#endif
#ifdef VER_PREL
    VS_FF_PRERELEASE |
#endif
    0
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_APP
    {
        BLOCK "StringFileInfo"
        {
            BLOCK "040904E4"
            {
                // International StringTable
                VALUE "CompanyName",      PPS(RES_APP_VENDOR) "\0"
                VALUE "ProductName",      "LibreOffice\0"
                VALUE "ProductVersion",   PPS(VER_LEVEL) "\0"
                VALUE "FileVersion",      PPS(VER_LEVEL) "\0"
                VALUE "OriginalFilename", PPS(ORG_NAME) "\0"
                VALUE "InternalName",     PPS(INTERNAL_NAME) "\0"
                VALUE "LegalCopyright",   S_CRIGHT " LibreOffice contributors and/or their affiliates. All rights reserved.\0"
                ADDITIONAL_VERINFO1
                ADDITIONAL_VERINFO2
                ADDITIONAL_VERINFO3
            }
        }

        BLOCK "VarFileInfo"
        {
            VALUE "Translation", 0x0409, 1252
        }
    }
