Description: %productname desktop integration
Maintainer: Apache Software Foundation
Architecture: all
Provides: openoffice.org-desktop-integration, openoffice.org-unbundled
Conflicts: openofficeorg-desktop-integration, openofficeorg-debian-menus, openoffice.org-bundled
Replaces: openofficeorg-desktop-integration, openofficeorg-debian-menus
