#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#

#************************************************
# Specify the verbose mode of this tool.
# 1 = show errors only
# 2 = show errors/warnings (default)
# 3 = show errors/warnings and some generic infos
# 4 = show anything (including detailed infos)
#
# [OPTIONAL]
#************************************************

loglevel = 2

#************************************************
# This extension is used for all XML files. It doesnt
# matter if its used for reading fragments or writing
# XML packages.
# Must be given without any additional signes like "."
# or "*."!
#
# [REQUIRED]
#************************************************

extension_xcu=xcu

#************************************************
# This extension is used for all Package files. It doesnt
# matter if its used for reading such files or writing
# it.
# Must be given without any additional signes like "."
# or "*."!
#
# [REQUIRED]
#************************************************

extension_pkg=pkg

#************************************************
# These values are used to generate a correct XML
# header.
# Note: The property "xmlpackage" must be specified
#       via command line. There exists more then one
#      	possible value.
#
# [REQUIRED]
#************************************************

xmlversion	=	1.0
xmlencoding	=	UTF-8
xmlpath		=	org.openoffice.TypeDetection
#xmlpackage	=

#************************************************
# These values are used to name the configuration
# sets inside the generated XCM file for different
# item groups like e.g. types, filters etcpp.
#
# [REQUIRED]
#************************************************

setname_types 			    = Types
setname_filters 			  = Filters
setname_frameloaders 	  = FrameLoaders
setname_contenthandlers = ContentHandlers

subdir_types 			    	= types
subdir_filters 			  	= filters
subdir_frameloaders 	  = frameloaders
subdir_contenthandlers 	= contenthandlers

#************************************************
# This delimiter is used to split every
# item list of the package configuration files
# (which are temp. created  by the make proccess)
# into its tokens.
#
# [REQUIRED]
#************************************************
delimiter=,

#************************************************
# Enable/disable removing of leading/trailing withespaces
# during splitting stringlists.
#
# [REQUIRED]
#************************************************
trim=true

#************************************************
# Enable/disable removing of leading/trailing "-signs
# during splitting stringlists.
#
# [REQUIRED]
#************************************************
decode=false
